.about-wrap{
  background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #D5BE9A; /* Цвет линии для остальных браузеров */
    background-color: #D5BE9A; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
  }
  @media only screen and (min-width: 992px){
    padding: 3px;

  }
  .about-wrap-content{
    background: #fff;
    width: 100%;
    margin-bottom: 0;
    .about-content{
      @media only screen and (min-width: 992px){
        margin-bottom: 100px;

      }

    }
    .about-adress{
      @media only screen and (min-width: 992px){
        padding: 50px 0 0 100px;

      }

    }

  .about-text{
    padding: 70px;
  }
  }
  .margin-center{
    margin: 0 auto;
  }
  iframe{
    width: 100%;

  }
  .mapBox{
    padding: 0;

  }
}