header {
  ul.side-nav {
    &.fixed {
      //max-width: 380px;
      @media only screen and (max-width: 992px) {
        width: 100%;
      }

      background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);

      li {
        &.logo {
          margin-bottom: 20px;
        }

        &.menu {
          margin-bottom: 50px;
        }

        &.address-schedule {
          padding: 0 10px;
          line-height: 20px;

          .schedule {
            padding-right: 45px;
            background: url(../images/header/phone.png) center right no-repeat;
          }
        }

        a {
          color: #fff;
          font-size: 25px;
        }
      }

      ul {
        &.nav-menu {
          width: 100%;
          hr {
            width: 132px;

          }
          li {
            a {
              color: #fff;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

div.userView {
  position: absolute;
  top: 0;
  width: 100%;
}

img.logo {
  width: 90%;
  max-width: 240px;
  height: auto;

}

.width {
  @media only screen and (max-width: 1) {
    width: 100% !important;
    margin-bottom: 20px;
  }

}

div.nav-wrapper {
  //transform: translateX(-5%);
}

.navbar-search {
  //padding: 0 50px 0 50px;
  img.plus {

    position: absolute;
    top: 0;
    left: 194px;
  }
  div.input-field {

    padding: 0 25px;
    line-height: 0;

    input:not([type=submit]) {
      width: 100%;
      max-width: 200px;
      border: none;
      height: 30px;
      opacity: 0.5;
      background: #fff;
      border-radius: 10px;
      padding: 0;
      margin: 0;
      display: inline-block;
    }

    .plus {
      background: url("../images/header/plus_header.png");
      border: 0;
      padding: 0;
      margin: 0;
      height: 30px;
      width: 30px;
      position: absolute;
      margin-left: 5px;

    }

  }

}

.paddingLeft {
  padding-left: 15px;
}

.social-header {
  margin: 0 20px 0 20px;
}

/*---------------------------------------------------------------------*/
a#logo {
  height: auto;
}

nav.top-nav {
  padding: 10px 0;
  background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  header & {
    @media only screen and (max-width: 992px) {
      height: auto;
    }
  }

  &.static {
    .page-title {

      a {
        display: inline-block;
        padding: 20px 15px;
      }
    }
    .back {
      position: relative;
      &:after {
        content: url('../images/arrowHeader.png');
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 100%;
      }
    }
  }

  .search-left {
    @media only screen and (min-width: 992px) {
      position: relative;
      //left: 10% !important;
    }
  }
  .page-header {

    //min-width: 600px;
    @media only screen and (min-width: 992px) {
      //height: 100px;
    }
    @media only screen and (min-width: 992px) {
      //min-width: 1000px;
    }

    .maxW {
      max-width: 100px;
    }

  }

  i {
    font-size: 72px;
    cursor: pointer;
  }

  ul {
    width: 100%;

    li {
      line-height: 20px;
      display: inline-block;
      a {
        line-height: 20px;
      }

      .remind-pass {
        width: 300px;
        top: 40px;

        .input-field {
          .input-gradient {
            padding: 2px;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
            background: -moz-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
            background: linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
            &.focus {
              background: -webkit-linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
              background: -moz-linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
              background: linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
            }

            input:not([type=submit]) {
              height: 25px;
              margin-bottom: 0;
              padding: 15px 10px;
              color: #8e5d36;
              width: 100%;
              box-sizing: border-box;
              background: #fff;
              border: none;
            }
          }
          label {
            position: static;
            display: block;
            margin-bottom: 10px;
          }
        }

        .dash {
          margin: 5px 0;
        }

        input {
          margin-bottom: 10px;
        }

        &:before {
          content: ' ';
          position: absolute;
          top: -35px;
          right: 35px;
          border: 17px solid transparent;
          border-bottom: 17px solid #E5C595;
          display: block;
          width: 0;
          height: 0;
        }

        &:after {
          content: ' ';
          position: absolute;
          top: -23px;
          right: 41px;
          border: 11px solid transparent;
          border-bottom: 11px solid #fff;
          display: block;
          width: 0;
          height: 0;
        }

        span.title-insert-cabinet {
          position: absolute;
          top: -21px;
          left: 27px;
        }

        form {
          input {
            width: 80%;
            height: 20px;

            &:last-child {
              background: none;
              border: none;
            }
          }
        }
      }

      .input-field {
        label {
          font-size: 15px;
          color: #fff;
        }
      }

      .select-wrapper {
        .caret {
          color: #fff;
        }

        input.select-dropdown {
          margin-top: 25px;
        }
      }

      .input-search {
        .input-field {
          @media only screen and (max-width: 992px) {
            margin-top: 5px;
          }
        }
        input.search-header-input {
          background: rgba(255, 255, 255, .5);
          padding-right: 30px;
          margin: 0;
          height: 30px;
          float: right;
          padding-left: 15px;
          -moz-transition: width 700ms ease-in-out;
          -o-transition: width 700ms ease-in-out;
          transition: width 700ms ease-in-out;

          &:focus {
            width: 100%;
          }
        }
        button.material-icons.do-search {
          background: transparent;
          border: none;
          color: rgba(255, 255, 255, .5);
          right: 0;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      .cart-login {
        min-width: 150px;
        @media only screen and (max-width: 992px) {
          //float: left;
          display: inline-block;
        }
        a {
          padding: 0;
        }
        .cart {
          display: inline-block;
          position: relative;
          a.popup-trigger {
            display: inline-block;
            position: relative;
            background: url("../images/cart-header.png") left center no-repeat;
            padding: 10px 10px 10px 45px;
          }
        }

        .login {
          position: relative;
          display: inline-block;
          padding-left: 10px;

          @media only screen and (max-width: 600px) {
            border: none;
          }

        }
      }

      .button-collapse {
        position: relative;
        margin: 0;
        padding: 0;

        i {
          font-size: 48px;
          @media only screen and (min-width: 600px) {
            font-size: 72px;
          }
        }
      }
    }
  }

  img.search-header {
    position: absolute;
    top: 8%;
    left: 135px;
  }

  div.input-search {
    @media only screen and (min-width: 992px) {
      position: relative;
      left: 70% !important;
    }
  }

  input.search-header-input {
    width: 80%;
    border: none;
    height: 30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .nav-header-mobile {
    padding-top: 30px;
    i {
      font-size: 72px;
      cursor: pointer;
    }
    div {
      padding: 0 5px;
      span {
        color: #fff;
      }
    }
  }
}

.border-l {
  border-left: 1px solid #fff;
}

@media only screen and (max-width: 992px) {
  .valign-wrapper {
    //display: inherit;
  }
}

.popup {
  &.popup-active {
    position: absolute;
    background: #fff;
    border: 3px solid #CBAD8B;
    z-index: 1000;
    right: -1.5em;
    top: calc(100% + 20px)!important;
    //padding: 30px 10px;
    left: inherit;
    max-height: none;
    overflow: inherit;
    @media only screen and (max-width: 600px) {
      width: calc(320px - 3em);
    }
    a {
      padding: 0;
    }
    &:before {
      content: ' ';
      position: absolute;
      top: -35px;
      right: 30px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      top: -24px;
      right: 36px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;
    }
    &.popup-cart {
      right: 0;
      width: 455px;
      //min-height: 270px;
    }

    &.popup-search {
      width: 455px;
      //min-height: 270px;
    }

    &.popup-form {
      width: 300px;
    }

    .remind-pass {
      right: -30px;
    }
  }

  img {
    position: static;
    //width: 20px;
  }
  //img.product{
  //  width: 75px;
  //}
  img.close-active-cart {
    transform: translateY(-220%);
  }

  .product {
    margin-bottom: 15px;
    .product-img-wrapper {
      border-right: 1px solid #E5C595;
      .product-img {
        padding: 0;
      }
    }
  }

  .delete-product {
    background: transparent url("../images/close.png") center center no-repeat;
    border: none;
    width: 20px;
    height: 20px;
  }

  .total-price {
    padding: 10px;
  }

}

nav ul li a:hover, nav ul li.active {
  background-color: transparent;
}
.lean-overlay {
  @media only screen and (min-width: 600px) {
    //display: none !important;
    opacity: 0 !important;
  }
}

#close-sidenav {
  position: absolute;
  right: 0;
  top: 10px;
}