.section-title{
  width: calc(100% - 378px);

  background: url(../images/title.png) center center no-repeat;
  background-size: cover;

  margin-left: 378px;
  text-align: center;
  span{
    margin: 0 auto;
    font-size: 32px;
  }

}

body .container {
  max-width: none;
  width: 90%;
}

img {
  max-width: 100%;
}





button:focus {
  outline: none;
  background-color: transparent !important;
  color: white;
}

body form {
  .input-field {
    .select-wrapper {
      input.select-dropdown {
        border: none  !important;
        border-bottom: 1px solid #8e5d36 !important;
        height: 25px !important;
        margin-bottom: 30px !important;
        padding: 0px !important;
      }
    }
  }
}


button.dash {
  border: none;
  background: transparent;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 15%;
    border-bottom: 1px solid;
    width: 70%;
    transition: 1s;

  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.dib {
  display: inline-block !important;
}

.db {
  display: block !important;
}