.section-title{
  width: calc(100% - 378px);

  background: url(../images/title.png) center center no-repeat;
  background-size: cover;

  margin-left: 378px;
  text-align: center;
  span{
    margin: 0 auto;
    font-size: 32px;
  }

}

body .container {
  max-width: none;
  width: 90%;
}

img {
  max-width: 100%;
}



.btn-buy{
  width: 80px;
  display: inline-block;
  background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  padding: 3px;
  button{
    height: 100%;
    background: #fff;
    border: none;
    width: 100%;
    &:hover {
      background: transparent -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: transparent -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: transparent linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      color: white ;
    }

    &:active {
      background: transparent -webkit-linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: transparent -moz-linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
      background: transparent linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    }
  }
}

button:focus {
  outline: none;
  background-color: transparent !important;
  color: white;
}

.input-field {
  .select-wrapper {
    input.select-dropdown {
      border: none;
      border-bottom: 1px solid #8e5d36;
      height: 25px;
      margin-bottom: 30px;
      padding-left: 0px;
    }
  }
}