main{
  .padding-top38{
    padding-top: 38px;
  }

  .search-left{
    @media only screen and (min-width: 992px){
      position: relative;
      //left: 10%!important;
    }
  }
  .page-header{


    min-width: 600px;
    @media only screen and (min-width: 992px){
      height: 100px;
    }
    @media only screen and (min-width: 992px){
      //min-width: 1000px;
    }

    .maxW{
      max-width: 100px;
    }
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  }

  i{
    font-size: 72px;
    cursor: pointer;
  }

  ul{
    width: 100%;

    li{
      display: inline-block;
    }
  }

  img.search-header{
    position: absolute;
      top: 8%;
      left: 135px;
  }

  div.input-search{
    @media only screen and (min-width: 992px){
      position: relative;
      left: 70% !important;
    }
  }

  input.search-header-input{
    width: 150px;
    border: none;
    height:30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;

  }
  .nav-header-mobile{
    padding-top: 30px;
    i{
      font-size: 72px;
      cursor: pointer;
    }
    div{
      padding: 0 5px;
      span{
        color: #fff;
      }
    }
  }

  .page-main{
    background: url(../images/background.png) repeat-y;
    background-size: cover;

    .content{
      width: 90%;
      height: 90%;
      min-height: 600px;
      border: 3px solid #E5C595;
      margin: 60px auto;
      background: #fff;
      padding: 50px;

      @media only screen and (min-width: 992px){
        border: none;
      }
      @media only screen and (max-width: 992px){
        padding: 0;
      }
    }
  }
}

.border-r{
  border-right: 1px solid #fff;
}
.title-range{
  position: absolute;
}
.header-first-section{
  min-width: 375px;
  margin-top: 20px;
  span{
    padding: 10px;

    position: relative;
  }

  img{
    position: absolute;
    top: 10%;
    left: 10px;
  }
}
.header-second-section{
  input:focus{
    //@media only screen and (min-width: 992px){
        width: 220px;
    //transform: translateX(-70px);
    }
}
.header-third-section{
  //min-width: 200px;
  margin-left: 195px;
  //margin-top: 15px;

  @media only screen and (max-width: 600px){
    //min-width: 200px;
  }
  .displayNone{
   display: none;
  }

  .remind-pass{
    position: absolute;
    width: 250px;
    top: 40px;
    left: -30px;
    background: #fff;
    padding: 10px 0 0 0;
    border: 3px solid #E5C595;
    z-index: 1000;
    input{
      margin-bottom: 10px;
    }
    &:before{
      content: ' ';
      position: absolute;
      top: -35px;
      left: 178px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after{
      content: ' ';
      position: absolute;
      top: -23px;
      left: 185px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;

    }
    span.title-insert-cabinet{
      position: absolute;
      top: -21px;
      left: 27px;
    }
    form{

      input{
        width: 80%;
        height: 20px;

        &:last-child{
          background: none;
          border: none;
        }
      }

    }

  }

  span{
    position: relative;

    //&.total-price:after {
    //  content: "2 items";
    //  font-size: 12px;
    //  position: absolute;
    //  top: 30px;
    //  left: 18%;
    //}
  }
  //img{
  //  position: absolute;
  //  top: -33%;
  //  left: 0%;
  //  &.catalog-cart{
  //    left: -11%;
  //  }
  //
  //  @media only screen and (max-width: 600px){
  //    left: -10%;
  //  }
  //}
}

.radio-form-catalog {
  form {
    p {
      height: 30px;
      margin: 0;
    }
    label {
      width: 200px;

    }
  }
}
