.section-one{

  @media only screen and (min-width: 992px){
    margin-left: 380px;
    width: calc(100% - 380px);
  }

  .padding-top38{
    padding-top: 38px;
  }

  .search-left{
    @media only screen and (min-width: 992px){
      position: relative;
      //left: 10%!important;
    }
  }
  .page-header{


    min-width: 600px;
    @media only screen and (min-width: 992px){
      height: 100px;
    }
    @media only screen and (min-width: 992px){
      //min-width: 1000px;
    }

    .maxW{
      max-width: 100px;
    }
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  }

  i{
    font-size: 72px;
    cursor: pointer;
  }

  ul{
    width: 100%;

    li{
      display: inline-block;
    }
  }

  img.search-header{
    position: absolute;
      top: 8%;
      left: 135px;
  }

  div.input-search{
    @media only screen and (min-width: 992px){
      position: relative;
      left: 70% !important;
    }
  }

  input.search-header-input{
    width: 150px;
    border: none;
    height:30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;

  }
  .nav-header-mobile{
    padding-top: 30px;
    i{
      font-size: 72px;
      cursor: pointer;
    }
    div{
      padding: 0 5px;
      span{
        color: #fff;
      }
    }
  }

  .page-main{
    background: url(../images/background.png) repeat-y;
    background-size: cover;

    .content{
      width: 90%;
      height: 90%;
      min-height: 600px;
      border: 3px solid #E5C595;
      margin: 60px auto;
      background: #fff;
      padding: 50px;

      @media only screen and (min-width: 992px){
        border: none;
      }
      @media only screen and (max-width: 992px){
        padding: 0;
      }
    }
  }
}

.border-r{
  border-right: 1px solid #fff;
}
.title-range{
  position: absolute;
}
.header-first-section{
  min-width: 375px;
  margin-top: 20px;
  span{
    padding: 10px;

    position: relative;
  }

  img{
    position: absolute;
    top: 10%;
    left: 10px;
  }
}
.header-second-section{
  input:focus{
    //@media only screen and (min-width: 992px){
        width: 220px;
    //transform: translateX(-70px);
    }
}
.header-third-section{
  min-width: 200px;
  margin-left: 195px;
  //margin-top: 15px;

  @media only screen and (max-width: 600px){
    min-width: 200px;
  }
  .displayNone{
   display: none;
  }
  .active{
    position: absolute;
    background: #fff;
    border: 3px solid #CBAD8B;
    z-index: 1000;
    &:before {
      content: ' ';
      position: absolute;
      top: -35px;
      left: 178px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      top: -25px;
      left: 184px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;
    }
    &-cart{
      padding: 10px;
      left: -200px;
      top: 52px;
      width: 300px;



    }
    &-search{
      left: -105%;
      top: 50px;
      width: 400px;
      padding-top: 44px;
      @media only screen and (max-width: 992px){
        left: 115%;
        top: 52px;
      }
      &:before {
        content: ' ';
        position: absolute;
        top: -35px;
        left: 28px;
        @media only screen and (max-width: 992px){
          left: 290px;
          top: -35px;
        }
        border: 17px solid transparent;
        border-bottom: 17px solid #E5C595;
        display: block;
        width: 0;
        height: 0;
      }
      &:after {
        content: ' ';
        position: absolute;
        top: -24px;
        left: 34px;
        @media only screen and (max-width: 992px){
          left: 297px;
          top: -24px;
        }
        border: 11px solid transparent;
        border-bottom: 11px solid #fff;
        display: block;
        width: 0;
        height: 0;
      }
      .btn-active-search-buy{
        width: 100px;
        height: 40px;
        font-size: 20px;
        position: relative;
        top: -56px;
        left: 70%;
        cursor: pointer;

      }
    }
    img{
      position: static;
      width: 20px;
    }
    img.product{
      width: 75px;
    }
    img.close-active-cart{
      transform: translateY(-220%);
    }
    div.active-cart-name{

      margin-left: 30%;
      padding-left: 10px;
      text-align: left;
      border-left: 1px solid #E5C595;
    }
    div.btn-active-cart{
      cursor: pointer;
      position: relative;
      width: 100px;
      height: 50px;

      display: inline-block;
      &-first{
        left: 27%;
        top: 49px;
      }
      &-second{
        left: -20%;
        top: -1px;

      }
    }

  }
  .remind-pass{
    position: absolute;
    width: 250px;
    top: 40px;
    left: -30px;
    background: #fff;
    padding: 10px 0 0 0;
    border: 3px solid #E5C595;
    z-index: 1000;
    input{
      margin-bottom: 10px;
    }
    &:before{
      content: ' ';
      position: absolute;
      top: -35px;
      left: 178px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after{
      content: ' ';
      position: absolute;
      top: -23px;
      left: 185px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;

    }
    span.title-insert-cabinet{
      position: absolute;
      top: -21px;
      left: 27px;
    }
    form{

      input{
        width: 80%;
        height: 20px;

        &:last-child{
          background: none;
          border: none;
        }
      }

    }

  }

  span{
    position: relative;

    &.total-price:after {
      content: "2 items";
      font-size: 12px;
      position: absolute;
      top: 30px;
      left: 18%;
    }
  }
  img{
    position: absolute;
    top: -33%;
    left: 0%;
    &.catalog-cart{
      left: -11%;
    }

    @media only screen and (max-width: 600px){
      left: -10%;
    }
  }
}

.radio-form-catalog {
  form {
    p {
      height: 30px;
      margin: 0;
    }
    label {
      width: 200px;

    }
  }
}

span.total-price{
  padding: 10px;
}
